@model Actor

@{
    ViewData["Title"] = "Delete of the Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>DeleteConfirmation for @Model.ActorName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img id="ActorUrlpre" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="form-group">
                    <label asp-for="ActorUrl" class="control-label">ActorUrl</label>
                    <input asp-for="ActorUrl" class="form-control" readonly />
                    <span asp-validation-for="ActorUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActorName" class="control-label">ActorName</label>
                    <input asp-for="ActorName" class="form-control" readonly />
                    <span asp-validation-for="ActorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-label">Bio</label>
                    <input asp-for="Bio" class="form-control" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="confirm" class="btn btn-danger float-right"/>
                    </form>
                       
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ActorUrlPre');
            output.src = $("#ActorUrl").val();
        })
    </script>
}
  